<div class="container-fluid">
	<section class="form-group">
		<%= form_for :login do |f|  %>
			<div>
				<%= f.label :email  %>
				<%= f.text_field :email, class: "form-control"  %>
			</div>
			<div>
				<%= f.label :password  %>
				<%= f.password_field :password, class: "form-control"  %>
			</div>
<br>
			<%= f.submit "Login", class: "btn btn-submit" %>
		<% end %>
	</section>
</div>