<div class="ui page grid">
	<div id="top1" class="top aligned row">
	</div>
</div>

<div class="ui page grid">
	<div class="six wide centered column">
   <h3 class= "ui white segment" style="text-align: center">LOG IN <i class="long arrow right icon"></i>TRADE</h3>
	</div>
</div>

<div class="ui page grid">
  <div class="six wide centered column">
	  <div class="ui form segment">
			<%= form_for :login do |f|  %>
				<div class="field">
					<%= f.label :email %>
					<%= f.text_field :email %>
				</div>
				<div class="field">
					<%= f.label :password  %>
					<%= f.password_field :password %>
				</div>
				<div class="button">
					<%= f.submit "Login" %>
				</div>
			<% end %>
		</div>
	</div>
</div>

<div class="ui page grid">
	<div id="top2" class="bottom aligned row">
	</div>
</div>