 <%= form_for @user do |f|  %>
		<div class: "form-group">
			<%= f.label  :name  %>
			<%=  f.text_field :name, class: "form-control" %>
		</div>
		<div>
			<%= f.label  :email  %>
			<%=  f.text_field :email, class: "form-control" %>
		</div>
		<div>
			<%= f.label  :password  %>
			<%=  f.password_field :password, class: "form-control" %>
		</div>
		<!-- Will only show if new user is being made -->
		<% if @user.new_record? %> 
			<%= f.label :password, "Confirmation"  %>
			<%= f.password_field :password, class: "form-control"  %>
		<% end %>
		<!-- end optional form input for new/edit user -->
		<br>
		<div>
			<%= f.submit "Submit", class: "btn btn-default form-control" %>
		</div>	
<% end %>