<div class="ui page grid">
  <div class="six wide centered column">
	  <div class="ui form segment">
			<%= form_for @user do |f| %>
				<div class="field">
					<%= f.label :name %>
					<%= f.text_field :name %>
				</div>
				<div class="field">
					<%= f.label :last_name %>
					<%= f.text_field :last_name %>
				</div>
				<div class="field">
					<%= f.label :email  %>
					<%= f.text_field :email %>
				</div>
				<div class="field">
					<%= f.label :password %>
					<%= f.password_field :password %>
				</div>
				<!-- Will only show if new user is being made -->
				<% if @user.new_record? %> 
					<div class="field">
						<%= f.label :password, "Confirmation"  %>
						<%= f.password_field :password %>
					</div>
				<% end %>
				<!-- end optional form input for new/edit user -->
				<div class="field">
					<%= f.file_field :image %>
				</div>
				<br>
				<div class="button">
					<%= f.submit "Submit" %>
				</div>	
			<% end %>
		</div>
	</div>
</div>





