<div class="ui">
	<div class>
<div class>
	<div class="ui row segment form">
		<div class="inline fields">
			<%= form_tag users_path, method: 'get', :class => "eight wide field"  do %>
				<%= text_field_tag :q, nil, :placeholder => "Search Users..."  %>
				<%= submit_tag "Search", :class=> "field btn btn-submit"  %>
			<% end %>
		</div>
	</div>
</div>

	<br>
	<div class="ui page grid">
	<br>
		<div class="left floated ten wide column">
		<ul>
			<% @users.each do |user| %>
				<%= link_to user_path(user) do %>
				<div class="ui link items white segment">
				  <div class="item">
				    <div class="ui small image">
				     <%= image_tag user.image.url %>
				    </div>
				    <div class="content">
				      <div class="header"><%= user.name %></div>
				      <div class="description">
				        <p>Trade with me!</p>
				      </div>
				    </div>
				  </div>
				</div>
				<br>
				<% end %>
			<% end %>
		</ul>
	</div>
</div>


		<br>

	<div class>
		<div class="ui row segment form">
			<div class="inline fields">
				<%= form_tag users_path, method: 'get', :class=>"eight wide field" do  %>
					<%= text_field_tag :q, nil, :placeholder =>"Search Users..."  %>
					<%= submit_tag "Search", :class=>"field btn btn-submit"  %>
				<% end %>
			</div>
		</div>
	</div>

	</div>
</div>

