<div class="ui page grid">

<div class="ui grid white segment">
	<div class="sixteen wide column">
			<div class="inline fields">
				<%= form_tag users_path, method: 'get', :class => "eight wide field"  do %>
					<%= text_field_tag :q, nil, :placeholder => "Search Users..."  %>
					<%= submit_tag "Search", :class=> "field btn btn-submit"  %>
				<% end %>
			</div>
	</div>
</div>

<div class="grid">
<div class="ui three cards">
	<% @users.each do |user| %>

	<div class="ui fluid card">
		<%= link_to user_path(user) do %>
		<div class="item">
	     <div class="ui medium image"> <%= image_tag user.image.url %></div>
	     <!-- begin content -->
		   <div class="content header">
		      	<p><%= user.name %><p>
	    	</div>
	    	<!-- end content -->
		</div>
    </div>
      <% end %>
       <% end %>
  </div>
</div>

<div class="ui grid  white segment">
	<div class="sixteen wide column">
			<div class="inline fields">
				<%= form_tag users_path, method: 'get', :class => "eight wide field"  do %>
					<%= text_field_tag :q, nil, :placeholder => "Search Users..."  %>
					<%= submit_tag "Search", :class=> "field btn btn-submit"  %>
				<% end %>
			</div>
	</div>
</div>

</div>


