<div class="container">
<% if user_access? %>
	<h1>Welcome <%= @user.name %>!</h1>

<% else %>
	<h1>Trade with <%= @user.name %>!</h1>
<% end %>

	<%= image_tag @user.image.url %>


	<div>
		<p id="alert alert-danger"><%= notice %></p>
	</div>
	<section>
		<% @user.items.each do |item| %>
			<div class="well well-sm">
			  <%= image_tag @user.image.url(:thumb) %>
			  <%= User.find(item.user_id).name %>
			  <br>
			  <br>
			  <br>
			  <%= image_tag item.item_image.url(:thumb) %>
			  <br>
			  <br>
			  <strong>Item:</strong> 
			  <%= item.item_name %>
			  <br>
			  <em><%= item.item_description %></em>
			  <br>

			  <br>
			  <%= item.created_at.to_formatted_s(:long_ordinal) %>

			  <% if view_button(item) %>
			  	<%= form_for [@user, @trade], url: "#{@user.id}/items/#{item.id}/trades/start_trade" do |f| %>
			  	    <div class="well well-sm">
						<%= f.select :item_a_id, current_user.items.all.collect {|p| [ p.item_name, p.id ] }, {prompt: 'Select Item'} %>
			  			<%= f.hidden_field :user_a_id, :value => current_user.id %>
			  			<%= f.hidden_field :user_id, :value => @user.id %>
			  			<%= f.submit "Request Trade!" %>
			  		</div>
			  	<% end %>
			  <% end %>
			</div>
		<% end %>
	</section>

	<!-- section for the form for items -->
	<% if user_access? %>
		<section>
			<%= form_for [@user, @item] do |f| %>
				<div class="well well-xs">
				  <strong><%= f.label :item_name %>:</strong>
				  <%= f.text_field :item_name %>
				  <br>
				  <strong><%= f.label :item_description %>:</strong>
				  <%= f.text_area :item_description %>
				  <br>


				  <%= f.file_field :item_image, class: 'btn btn-submit' %>
				  <br>
				</div>
				<div class="well well-sm">
				  <%= f.submit "Add new item!" %>
				</div>
				</div>
				
			<% end %>
		</section>
	<% end %>
	

  
</div>