
<div class="ui page grid">

<div class="six wide column">
	<ul>
	<div class="ui card">
	  <div class="image">
	    <%= image_tag @user.image.url %>
	  </div>
	  <div class="content">
	    <a class="header"><%= @user.name %> <%= @user.last_name %></a>
	    <div class="meta">
	      <span class="date">Joined in 2015</span>
	    </div>
	    <div class="description">
		  	"<%= @quote %>" - <%= @quote_reference %>
	    </div>
	  </div>
	  <div class="extra content">
	
	      <i class="trophy icon"></i>
	      <%= @user.items.count %> items
	   
	  </div> 
	  <% if user_access? %>
	  <div class="extra content">
	    <a>
	      <i class="edit icon"></i>
	      <%= link_to 'Edit Profile', edit_user_path(@user) %>
	    </a>
	  </div>
	  <% end %>
	</div>
	</ul>
</div>






<div class="ten wide column">
<% if user_access? %>
	<h1>Welcome <%= @user.name %>!</h1>

<% else %>
	<h1>Trade with <%= @user.name %>!</h1>
<% end %>


	<% if notice %>
	<div class="ui message"> <!-- Verificar que tipo de mensage -->
		<p><%= notice %></p>
	</div>
	<% end %>

	<!-- section for the form for items -->
	
	<% if user_access? %>
	<section>
		<div class="ui styled fluid accordion">

		    <div class="active title">
		      <i class="plus icon"></i>
		      Add A New Item
		    </div>
		    <div class="content">
		      <%= form_for [@user, @item] do |f| %>
				
				<div class="ui fluid form">

				  <div class="one field">
				    <div class="required field">
				      <label>Item Name:</label>
				      <%= f.text_field :item_name, :placeholder => "Ex: Skateboard signed by Tony Hawk" %>
				    </div>
				    <div class="required field">
				      <label>Describe your item:</label>
				       <%= f.text_area :item_description, :placeholder => "Ex: Has some minor scratches but overall is in good condition, got it in 2014." %>
				    </div>
				    <div class="field">

				    	 <div class="column"><i class="photo icon"></i><%= f.label 'Add An Image:' %><%= f.file_field :item_image, :class => "form-control" %></div>
				      

				      
				    </div>


				 
				  </div>
				 	<div class="center aligned">
				        <div class="ui buttons">
				        	
				          <%= f.submit "Add new item!", :class => "ui positive button" %>
				        </div>
				    </div>
				</div>
				<% end %>
			</div>
			
		    </div>
	</section>
	<% end %>	
	<br>


	<section>
	
			      
		<% @user.items.reverse.each do |item| %>
			<div class="ui white segment">
			  <div class="ui link items">
			    <div class="item">
			      <div class="ui tiny image">
			       <%= image_tag item.item_image.url(:thumb) %>
			      </div>
			     


			  

			      <div class="content">
			        <div class="header"><%= item.item_name %></div>
			        <div class="description">
			          <p><%= item.item_description %></p>
			        </div>
			        <div class="extra">
			        			Added <%= time_ago_in_words(item.created_at) %> ago. <br>
			               <% if user_access? %>
			               	<%= link_to 'Edit', edit_item_path(item) %>
			               	<%= link_to 'Delete', item, method: :delete, data: { confirm: 'Are you sure?' } %>
			               <% end %>
			        </div>
			      </div>
			    </div>

			   </div>

			   <% if view_button(item) %>
			   <% end %>
			  <% if view_button(item) %>

			  	
			  	<%= form_for [@user, @trade], url: "#{@user.id}/items/#{item.id}/trades/start_trade", html: {id: "trade_#{item.id}_form"}  do |f| %>



			  	    <div class="ui center aligned compact segment">
						<%= f.select :item_a_id, current_user.items.all.collect {|p| [ truncate(p.item_name, length: 30), p.id ] }, {prompt: 'My Items'}, :class => "item" %>

						<!-- <div class="ui button trademe">Trade This Item</div> -->
						<!-- <div class="ui flowing popup">
						    <div class="ui three column divided equal height center aligned grid">
					      		<% current_user.items.each do |item| %>
					      	    	
					      	     	
					      	     	<div class="column">
								        <h4 class="ui header"><%=item.item_name%></h4>
								        <p><%= item.item_description %></p> -->

								         <!-- button code starts here -->
								        <%#= f.label "item_a_id_#{item.id}", item.item_name , class: "ui button choose", html: {id: "trade_#{item.id}_form"} %>
								        <%#= f.radio_button :item_a_id, item.id, style: 'display: ;', html: {id: "trade_#{item.id}_form"} %>
								        
								     
								         <!-- button code ends here -->

								        <%#= f.radio_button :item_a_id, item.id, style: 'display: ;' %>
								        <%#= f.label "item_a_id_#{item.id}" , item.item_name , class: "ui button choose" %>


								       
								        <!-- end specific item -->
						<!-- 	      </div>
					      		<% end %>
						      
						    </div>
						  </div> -->
						  <i class="long arrow right icon"></i>


			  			<%= f.hidden_field :user_a_id, :value => current_user.id %>
			  			<%= f.hidden_field :user_id, :value => @user.id %>
			  			<%= f.submit "Request #{item.item_name}!", :class => "small ui primary button ", html: {id: "trade_#{item.id}_form"} %>
			  		</div>

			  	<% end %>
			  <% end %>
			</div>


		
		<% end %>

	
	</section>



</div>
</div>



<%#= button_to "Request Trade!", '#', :class => "standard.test.modal" %>
<!-- <div class="ui button" id="showmemodal">Launch modal</div> -->
 
  
<script type="text/javascript">

	
	$('#showmemodal').on('click', function(){
		$('.ui.large.test.modal').modal('show');
	})

	$('.ui.button.trademe')
	  .popup({hoverable: true, delay: 200})
	;
	// var button = document.querySelector('#show_modal')
	// button.addEventListener('click', function () {$('.standard.test.modal').modal('show');}).modal('show');
	

	$('.ui.accordion').accordion();

	$("title").hover(function() {
	    $(this).css("background-color", "yellow");
	}, function() {
	    $(this).css("background-color", "");
	});

	$('.ui.dropdown').dropdown();

	$('.ui.button.choose').on('click', function(){
		var newText = $(this).text();
		$('.ui.button.trademe')
			.text(newText)
			.addClass('positive')
	  		.popup('hide');
	})


</script>

