<div class="container">
	<h1>Welcome <%= @user.name %>!</h1>
	<%= image_tag @user.image.url %>

	<section>
		<% @user.items.each do |item| %>
			<div class="well well-sm">
			  <%= image_tag @user.image.url(:thumb) %>
			  <%= User.find(item.user_id).name %>
			  <br>
			  <br>
			  <br>
			  <%= image_tag item.item_image.url(:thumb) %>
			  <br>
			  <br>
			  <strong>Item:</strong> 
			  <%= item.item_name %>
			  <br>
			  <em><%= item.item_description %></em>
			  <br>
			  <br>
			  <%= item.created_at.to_formatted_s(:long_ordinal) %>
			</div>
		<% end %>
	</section>

	<!-- section for the form for items -->
	<section>
		<%= form_for [@user, @item] do |f| %>
			<div class="well well-xs">
			  <strong><%= f.label :item_name %>:</strong>
			  <%= f.text_field :item_name %>
			  <br>
			  <strong><%= f.label :item_description %>:</strong>
			  <%= f.text_area :item_description %>
			  <br>
			  <%= f.file_field :item_image, class: 'btn btn-submit' %>
			  <br>
			</div>
			<div class="well well-sm">
			  <%= f.submit "Add new item!" %>
			</div>
		<% end %>
	</section>
	

  
</div>