<br>
<div<div class="container-fluid">
  <div class="well well-xs">
    <h2 id="logo">Edit item!</h2>
    <%= link_to "item timeline", items_path %>
  </div>
  <br>
  <%= form_for @item do |f| %>
    <div class="well well-xs">
      <strong><%= f.label :item_name %>:</strong>
      <%= f.text_field :item_name %>
      <br>
      <strong><%= f.label :item_description %>:</strong>
      <%= f.text_area :item_description %>
      <br>
    </div>
    <div class="well well-sm">
      <%= f.submit "Submit these changes!" %>
    </div>
  <% end %>
</div>