<br>
<div class="container-fluid">
  <div class="well well-xs">
    <h2 id="logo">Today's Items</h2>
</div>
  <br>
  <div class="well well-xs">
    <% @items.reverse.each do |item| %>
      <%= image_tag item.item_image.url(:thumb)  %>
      <strong><%= link_to "#{item.item_name}", user_path(item.user_id) %></strong> by <%= item_owner(item) %>
      <em><%#= link_to "#{item.user.name},", user_path(item.user) %></em>
      <br> 
      <%= time_ago_in_words(item.created_at) %> ago
      <br>
      <%= link_to 'Show', user_path(item.user_id), :class => "btn btn-primary" %>
      <br>
    <% end %>
  </div> 
  <br>
  <br>
</div>