
<div class="ui page grid">
  <div class="twelve wide column">
    <div class="ui center aligned large feed">
      <% @items.reverse.each do |item| %>
        <div class="event">
          <div class="label">
            <div class="ui tiny circular image">
              <%= image_tag item_owner(item).image %>
            </div>
          </div>
          <div class="content">
            <div class="summary">
                <%= link_to item_owner(item).name, user_path(item.user_id) %> added a <%= link_to truncate(item.item_name, length: 30), item_path(item) %>.
              <div class="date">
                <%= time_ago_in_words(item.created_at) %> ago.
              </div>
            </div>
            <br>
            <div class="extra images">
              <div class="ui huge image"><%= image_tag item.item_image.url %></div>
            </div>  
            <br>
            <div class="extra text">
              <%= item.item_description %>
            </div>
          </div>
        </div>
        <br>
      <% end %>
    </div>
  </div>
</div>



