<br>
<div class="container-fluid">
  <div class="well well-xs">
    <h2 id="logo"><%= @item.item_name %></h2>
    <%= link_to "item timeline", items_path %>
  </div>
  <br>
  <div class="well well-sm">
   by 
    <br>created on 
    <%= @item.created_at.to_formatted_s(:long_ordinal) %>
    <br>
    <br>
    <%=image_tag @item.item_image.url(:thumb)  %>
    <strong>Name:</strong> 
    <%= @item.item_name %>
    <br>
    <strong>Description:</strong> 
    <em><%= @item.item_description %></em>
    <br>
  </div>
</div>