
<% if logged_in? %>
	<div class="ui menu">
		<div class="item">
			<%= link_to (image_tag "logo.png"), current_user, :class => "ui avatar image" %>
			<%= link_to 'Home', root_path  %>
		</div>
		<div class="item"><%= link_to 'Search Users', users_path %></div>
		<div class="item"><%= link_to 'Items Available', items_path %></div>
		<div class="item"><%= link_to "My Trades", my_trades_path(current_user) %>
			<% if logged_in? && pending_trades > 0 %>
				<div class="ui red label">
					<%= pending_trades %>
				</div>
			<% end %>
		</div>

		
		    <div class="item"><%= link_to "#{current_user.name}", current_user %></div>
		   
		      <div class="item"><%= link_to 'Logout', logout_path, method: :delete  %></div> 
		   
	  	
	</div>

<% else %>
	<div class="ui menu">
		<div class="item">
			<%#= image_tag "logo.png", :class => "ui avatar image" %>
			<%= link_to 'TradeMe', root_path  %>
		</div>
		<div class="item"><%= link_to 'Search Users', users_path %></div>
		<div class="item"><%= link_to 'Items Available', items_path %></div>
		<div class="item"><%= link_to 'Signup', new_user_path %></div>

		<div class="item"><%= link_to 'Login', login_path %></div>
	</div>
<% end %>
<br>

<script type="text/javascript">
	$('.dropdown').dropdown();
</script>

